<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission
        android:name="com.termux.rust.permission.RUN_COMMAND"
        android:label="Run commands in termux-rs"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application android:theme="@style/Theme.TermuxRust">
        <activity android:name=".TerminalActivity" android:screenOrientation="unspecified" android:exported="false" />
        <service
            android:name=".TermuxService"
            android:exported="false"
            android:foregroundServiceType="specialUse" />
        <service
            android:name=".RunCommandService"
            android:exported="true"
            android:permission="com.termux.rust.permission.RUN_COMMAND" />
    </application>
</manifest>
